<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>

    <br />
    <img src="http://blob-harmony.groupetva.ca/harmony/media/static/filemanager/content/1452661200/655x369-pingouin_1452715089.jpg" alt="">
</body>
</html>